@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
}

h1 {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  color: #fff;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

button {
  box-sizing: border-box;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border-radius: 3em;
  color: #4F4F4F;
}

a {
  color: #FFC176;
  text-decoration: none;
}


.GridContainer {
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-gap: 10px;
}

.HeroBlock {
  background-color: #0BBACD;
  height: calc(100vh - 20px);
  display: block;
  align-items: center;
}

.ContactBlock {
  background-color: #4F4F4F;
  height: 100vh;
  display: flex;
  align-items: center;
}

.HeroLockup {
  display: block;
  margin-left: 200px;
}